.Rproj.user
.Rhistory
.RData
.Ruserdata

**/premium/

/.quarto/

31_May_17_2023/31_May_17_2023.qmd

*.png

3mw_newsletters.Rproj

*.gif

52_Nov_01_2023/.dump.R

*.html
*.css
*.js
*.woff
.env

77_May_15_2024/.77_May_15_2024.qmd

78_May_22_2024/.78_May_22_2024.qmd

79_May_29_2024/.79_May_29_2024.qmd

000_copies/
